{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Accounts/css/login_register.css'%}" >
{% endblock %}
{% block title %}
    user login
{% endblock %}

{% block body %}
<div style="height: 300px;" class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form method="post" action="">
                <label class="text-primary" for="chk" aria-hidden="true"> بازیابی رمز عبور </label>
                <input type="email"  placeholder="ایمیل" required="" name="email"  >
                {% csrf_token %}
                
                <button type="submit"  class="btn btn-primary">بازیابی</button>
            </form>
        </div>

</div>

{% endblock %}

