{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Accounts/css/login_register.css'%}" >
{% endblock %}
{% block title %}
    user login
{% endblock %}

{% block body %}
<div style="height: 450px; height: 450px;" class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form method="post" action="">
                <label class="text-primary" for="chk" aria-hidden="true"> بازیابی رمز عبور </label>
                 <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="رمز عبور" required="lll">
                 <span  dir="rtl" style="text-align: right; font-size: 16px;" class="helptext"><ul><li>پسورد نباید مشابه اطلاعات باشد</li><li>رمز عبور میباست بیشتر از 8 کارکتر باشد</li><li>پسورد می بایست متشکل از حرف و اعداد باشد </li></ul></span>

                <input  type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"  placeholder=" تکرار رمز عبور" required=""  >

                {% csrf_token %}
                
                <button type="submit"  class="btn btn-primary">تغییر رمز</button>
            </form>
        </div>

</div>

{% endblock %}


<body>
    <label for="id_new_password1">New password:</label>
    
      
      
        <br>
      
      
    
  

  
    <label for="id_new_password2">New password confirmation:</label>
    
      
      <input >
      
      
        
      
    
  </body>
